
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: foos.samplecontroller.k8s.io
spec:
  group: samplecontroller.k8s.io
  names:
    kind: Foo
    plural: foos
  scope: ""
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Foo is the Schema for the foos API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: FooSpec defines the desired state of Foo
          properties:
            deploymentName:
              description: the name of deployment which is owned by foo
              format: string
              type: string
            replicas:
              description: the replicas of deployment which is owned by foo
              format: int32
              minimum: 0
              type: integer
          required:
          - deploymentName
          - replicas
          type: object
        status:
          description: FooStatus defines the observed state of Foo
          properties:
            availableReplicas:
              description: this is equal deployment.status.availableReplicas
              format: int32
              type: integer
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
